﻿@{
    ViewBag.Title = "Wavy Dodger";
}

<section class="container container-section jumbotron">
    <div class="row">
        <div class="title-custom">Wavy Dodger</div>
    </div>
</section>

<section id="about" class="container container-section">
    <div class="row">
        <h1>About game</h1>
        <p class="section-content">
            You are a secret agent who has just stolen a very powerful artifact. The enemy is chasing you using his new weapon: big energetic cloud that neutralizes everything. Your task is not to get caught!
        </p>
        <p class="section-content">
            Wavy Dodger is typyical endless runner game.
            Fly your spaceship as far as you can! But be careful... On your way you will encounter some traps.
            Try to avoid collisions with dynamicly generated ground. If you are not wary, your spaceship will be destroyed.
        </p>
    </div>
</section>

<section id="gallery" class="container container-section">
    <div class="row">
        <h1>Gallery</h1>
        <div id="screenshotsCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#screenshotCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#screenshotCarousel" data-slide-to="1"></li>
                <li data-target="#screenshotCarousel" data-slide-to="2"></li>
                <li data-target="#screenshotCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Images/screen.png"/>
                </div>
                <div class="item">
                    <img src="~/Content/Images/screen2.png"/>
                </div>
                <div class="item">
                    <img src="~/Content/Images/screen3.png"/>
                </div>
                <div class="item">
                    <img src="~/Content/Images/screen4.png"/>
                </div>
            </div>
            <a class="left carousel-control" href="#screenshotsCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#screenshotsCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="row" id="video">
        <iframe width="960" height="720" src="https://drive.google.com/file/d/0B7NIOESkOt0zYVpfc2tGUVFWRU0/preview"></iframe>
    </div>
</section>

<section id="download" class="container container-section">
    <div class="row">
        <h1>Download</h1>
        <p class="section-content">
            Wavy Dodger is now available! Click button below, download game and have a lot of fun!
        </p>
        <a class="btn btn-default" href="https://drive.google.com/file/d/0By1T2S7gexJwWHZ1SzZQWFA0R2s/view?usp=sharing">
            Download!&nbsp;&nbsp;<span class="glyphicon glyphicon-download-alt" />
        </a>
    </div>
</section>
<section id="team" class="container container-section">
    <div class="row">
        <h1>Team</h1>
        <p class="section-content">
            If you have some questions or feedback for us, here is our email address: <br />
        </p>
        <p id="email-p" class="section-content">
            crimson.lightning.team@gmail.com 
        </p>
        <div class="row">
            <div class="col-md-4">
                <img class="img-circle" src="~/Content/Images/Authors/guzek.jpg" />
                <p>Przemysław Guzek</p>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="~/Content/Images/Authors/oskar.jpg" />
                <p>Oskar Bogacz</p>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="~/Content/Images/Authors/krzywy.jpg" />
                <p>Michał Krzywański</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img class="img-circle" src="~/Content/Images/Authors/ukis.jpg" />
                <p>Łukasz Polatowski</p>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="~/Content/Images/Authors/ignas.jpg" />
                <p>Michał Ignaczewski</p>
            </div>
        </div>
    </div>
</section>

