﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:  black;
    background-size: 100% 100%;
    color: white;
    /*url(../Content/Images/space.jpg) no-repeat*/
    background: url(../Content/Images/bg.bmp) ;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: 'Dodger';
    src: url('../fonts/dodger3ital.ttf');
}

.title-custom {
    font-family: Dodger;
    font-size: 7vw;
}



body footer {
    text-align: center;
}


.container-section {
    padding: 5pc;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.section-content {
    font-size: 20px;
}

#video {
    margin-top: 20px;
}

#email-p {
    word-wrap: break-word;
}

